@import './login.css';
@import './password.css';
@import './home.css';
@import './menu.css';
@import './modal.css';
@import './user.css';
@import './chart.css';
@import './404.css';

:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --boton-red: #FF5733;
    --green-color: #ACD9B2;
    --light-pink: #C7C7C7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.main-home {
    display: flex;
    justify-content: space-around;
}